{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

 {{> "header"}}



<figure class="kg-card kg-code-card">
    {{!-- Main --}}
    <main id="main">
        {{#page}}

<center>
            <div >
	   <div style = "max-width: 30em;text-align:left;">
	   {{content}}
		</div>
            </div>
           </center>

       {{/page}}


  <!-- Include Bootstrap  library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 
<div id = "news">NEWS</div>
<script
src = "https://greenmaps.us/us-politics/news.js"
></script>


    </main>

<figcaption>Snippet from a custom home page template</figcaption>

</figure>


