{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

 {{> "header"}}



<figure class="kg-card kg-code-card">

    {{!-- Main --}}
    <main id="main">
        {{#page}}
	<center>
            <div >
	   <div style = "max-width: 30em;text-align:left;">
	   {{#if content}}
	   {{content}}
	   {{/if}}
		</div>
            </div>
           </center>
        {{/page}}

<div id = "news">NEWS</div>
<script
src = "https://greenmaps.us/root/Products/Root/Children/news/news.js"
></script>


    </main>

<figcaption>Snippet from a custom home page template</figcaption>

</figure>


